.back {
    position:absolute;
    width: 600px;
    height: 450px;
}
.blue{
    height: 50px;
    background-color: rgb(123, 174, 221);
}
.white{
    height: 50px;
    background-color: rgb(255, 255, 255);
}
.square{
    position: absolute;
    width: 250px;
    height: 250px;
    background-color: rgb(123, 174, 221);
    
}
.vertical {
    position: absolute;
    width: 50px;
    height: 250px;
    background-color: rgb(255, 255, 255);
    margin-left: 100px;

}
.horizontal {
    position: absolute;
    width: 250px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    margin-top: 100px;