<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Film Makers</title>
</head>
<body>
    <div class="d-flex flex-wrap justify-content-around">
        <form action="/create/filmmaker" method="post" class="col-6 p-3">
            <h2 class="text-center">New Film Maker</h2>
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" name="name" class="form-control">
            </div>
            <input type="submit" value="Add Author" class="btn btn-primary">
        </form>
        <div class="col-6">
            <div class="card-body">
                <h2 class="text-center">All Film Makers</h2>
                {% for one_filmmaker in allFilmmakers %}
                    <p class="card-text"><a href="/filmmaker/{{filmmaker.id}}">{{one_filmmaker.name}}</a></p>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>