<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
    <h1>Dojo Survey</h1>
    <form action="/process" method="post">
        <p>
            Name : <input type="text" name="name" >
        </p>
            <p>
            Dojo Location :  
            <select name="location">
                <option value="tunisia">Tunisia</option>
                <option value="usa">USA</option>
            </select>
            </p>
                <p>
                Favorite Language:
                <select name="fav_language">
                <option value="Html">html</option>
                <option value="css">css</option>
                </select>
                </p>
                <textarea name="comment" id="" cols="30" rows="10"></textarea>
        </div>
</body>
</html>